@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@300;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #dd67b6a8; /* eclipsed by bkgd image below */
  background-image: url("sh_login.png");
  background-repeat: no-repeat; /* bkgd- all used with image setting */
  background-repeat: repeat-y; /* verticallly */
  background-position: center;
  background-size: cover;
  /* color: #065e79fe; */
  letter-spacing: 1.2px;
  color: white;
  font-family: "Roboto Slab", serif;
}

.image-inverted {
  filter: invert(100%);
}

/* Login */
.image-inverted2 {
  /* filter:hue-rotate(120deg); */
  filter: drop-shadow(0 0 0.75rem #f79c2d); /* drop-shadow(0 0 0.75rem #fff); */
  margin-left: 25%;
  /* transform: rotate(-15deg); */
}

/* Signup */
.image-inverted3 {
  /* filter:hue-rotate(120deg); */
  filter: drop-shadow(0 0 0.75rem #fff); /* drop-shadow(0 0 0.75rem #fff); */
  transform: rotate(50deg);
  margin-left: 15%;
}

/* Not Found */
.image-inverted4 {
  /* filter:hue-rotate(120deg); */
  filter: drop-shadow(0 0 0.75rem #f50101); /* drop-shadow(0 0 0.75rem #fff); */
  transform: rotate(50deg);
  margin-left: 15%;
}

/* nav buttons bar*/
.navLink {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 10px; /* 8px 20px */
  border-radius: 20px; /*10px*/
  text-decoration: none;
  letter-spacing: 1px;
}

/* forced coloring for login outlined and filled input fields */
.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: #f5d3a9 !important;
  :hover {
    background-color: white;
  }
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
